* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 40px;
}
nav a {
  color: black;
  height: 100%;
  padding: 0 30px;
  /* text-transform: uppercase; */
  display: flex;
  align-items: center;
}

nav a:hover ~ .bottom {
  background-color: rgb(77, 33, 236);
  display: block;
  transition: 0.5s;
}

.bottom {
  position: relative;
  width: 105px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  height: 4px;
  display: none;
  transition: 0.5s;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


#sp1, #sp2, #sp3, #sp4, #sp5{
  width: auto;
}


.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}
.menuButton{
  display: none;
}

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menuButton{
    display: block;
  }
  
}


@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}
